aniso8601==9.0.1
black==22.1.0
click==8.0.3
Flask
Flask-RESTful==0.3.6
Flask-WTF==1.0.1
future==0.17.1
gensim
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
more-itertools==8.13.0
mypy-extensions==0.4.3
nltk==3.6.7
numpy==1.22.1
pathspec==0.9.0
platformdirs==2.5.2
pytz==2021.3
regex==2022.1.18
scipy==1.7.3
six==1.16.0
smart-open==5.2.1
tomli==2.0.1
tqdm==4.62.3
Werkzeug==1.0.0
WTForms==3.0.1
flask_wtf
email_validator
flask_sockets
flask_cors